@font-face {
    font-family: 'chunkfivenormal';
    src: url('chunkfive-normal-webfont.eot');
    src: url('chunkfive-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('chunkfive-normal-webfont.woff') format('woff'),
         url('chunkfive-normal-webfont.ttf') format('truetype'),
         url('chunkfive-normal-webfont.svg#chunkfivenormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    padding-top: 70px;
    background-color: #71A6D2;
}

a{
    text-decoration: none;
}

#mic{
    margin: 0 auto;
    width: 128px;
    height: 128px;
}

#micImg{
    position: absolute;
    margin: 0 auto;
    pointer-events : none;
}

#micGlow{
    position: absolute;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.3s linear;
}

#micGlow:hover{
    opacity: 1;
}

#msg{
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 1px 1px #fff;
    color: #444F7C;
    font-family: "chunkfivenormal";
}

#errormsg{
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 1px 1px #fff;
    color: #AD4D4D;
    font-family: "chunkfivenormal";
}

#resultado{
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-family: "chunkfivenormal";
}

#reconhecendo{
    opacity: 0.5;
    text-shadow: none;
}

#resposta{
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-family: "chunkfivenormal";
}